/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: auto;
    overflow: hidden;
    background-color: var(--light-grey);
    font-family: var(--ff-base);
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  :root{
    --white:#ffffff;
    --true-black:#000000;
    --principal-blue: rgb(0, 105, 255);
    --secondary-blue: #8ed1fc;
    --light-grey:rgb(238, 238, 238);
    --true-light-grey:rgb(245, 245, 245);
    --dark-grey:rgb(169, 184, 195);
    --fw-regular: 500;
    --fw-bold: 700;
    --ff-accent: "Fraunces", serif;
    --ff-base: "Montserrat", sans-serif;
  }

  /*General Classes*/
  .flex-group{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .imput-container {
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: .5rem;
}
.small{
    width: 16rem;
}
.medium {
    display: flex;
    align-items: center;
    width: 13rem;
}
.medium-height {
    height: 15rem;
}
.top-heaght{
    height: 20rem;
}
span {
    color: var(--principal-blue);
}
.margin-top{
    margin-top: .5rem;
}
i:hover{
 cursor: pointer;
}
ul{
    height: auto;
  }
  li {
    list-style: none;
  }
  .gap{
    gap:1rem;
  }
  .link-text{
    color: var(--true-black);
    font-weight: var(--fw-bold);
  }
  
/*Navegation*/
.nav_item {
    color: black;
    padding: 15px;
    position: relative;
}

    .nav_item a {
        text-decoration: none;
        color: black;
        text-decoration-color: white;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        display: block;
    }

        .nav_item a::after {
            content: "";
            height: 2px;
            background: rgb(0, 105, 255);
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            transition: 600ms ease;
        }

        .nav_item a:hover::after {
            width: 100px;
        }

        .nav_item a:hover {
            color: gray;
            text-underline-offset: 1rem;
            text-decoration-color: rgb(181, 181, 181);
            transition: 600ms ease;
        }
.imput-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 5px;
    transform: translateY(-50%);
    color: var(--principal-blue);
    font-size: 14px;
    }
input{
    width: 100%;
    height: 2.5rem;
    padding-right: 40px;
    box-sizing: border-box;
    border: 3px solid var(--light-grey);
    border-radius: .5rem;
    outline: none;
}
select {
    border: none;
    outline: none;
    color: var(--principal-blue);
    background-color: var(--light-grey);
}
  .logo{
    width: 11.5rem;
    height: auto;
  }
  .button {
    width: 100%;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--principal-blue);
    color: var(--white);
    border: none;
    outline: invert;
  }
  .card {
    
    border-radius: .5rem;
    background-color: white;
  }
  .envelop {
    width: 10rem;
    height: auto;
  }
  .relative{
    position: relative;
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
    color: var(--white);
    position: absolute;
    right: -6px;
    bottom:-4px
  }
  /*Header*/
  header{
    position: sticky;
    width: 100vw;
    height: 6rem;
    background-color: var(--true-black);
    display: flex;
    flex-direction: column;
  }

  .header__Top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 3rem;
    background-color: var(--true-black);
  }
  .Top__Left-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    gap: 1rem;
    color: var(--white);
  }

  .Top__Left-section > div:nth-child(2),
  .Top__Left-section > div:nth-child(3) {
    border-right: 1px solid var(--white);
    padding: 0 .5rem;
  }
  
  .Top__Right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    gap: 1rem;

  }
  .Top__Right-section > div {
    width: 80%;
    color: var(--white);
    display: flex;
    
  }

  .Top__Right-section > div:nth-child(1),
  .Top__Right-section > div:nth-child(2) {
    border-right: 1px solid var(--white);
    align-items: center;
    justify-content: center;
  }

  .header__Down-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 3rem;
    background-color: var(--white);
  }
  .down__Left-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    gap: 1rem;
  }
  .down__Right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 1rem;
  }
  .right__search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    gap: 1rem;
    
  }
  .right__Button {
    width: 20%;
  }

  main {
    width: 95vw;
    height: calc(100vh - 6rem);
    margin: 0 auto;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    
  }

  .sort-search{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    gap: 1rem;
    width: 100%;
    height: 6rem;
    border-bottom: 3px solid var(--secondary-blue);
  }

  .show-data
  {
    background-color: var(--white);
    margin-bottom: 2rem;
  }

  .actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
   background-color: var(--light-grey);
   width: 100%;
  }
  
  .inner-upper{
    padding: 1rem;
    border-bottom: 1px solid var(--true-black);
  }
  .inner-down{
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .other {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 7rem;
    margin-top: 1rem;
    background-color: var(--white);
    border-radius: .5rem;
  }
  
  .social-network{
    align-items: center;
    justify-content: center;
    background-color: var(--true-light-grey);
  }
  
  